
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #000; 
  line-height: 1.8;
  padding: 0 10px;
  background-image: url(/img/Background-modified\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}


.header {
  
  padding: 30px 20px;
  text-align: center;
 
}

header h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e63946;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  
}
.header img{
  margin: 0 auto;
  margin-bottom: 20px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.col-3, .col-s-3 {
  padding: 0;
}

.menu {  
  padding: 5px;
  width: auto; 
  display: flex;
  justify-content: center; 
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.menu ul li {
  margin: 0 10px; 
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease, padding-left 0.3s ease;
  padding: 4px 6px; 
}

.menu ul li a:hover {
  color: #f05454;
  padding-left: 6px;
}

@media screen and (max-width: 768px) {
  .col-3, .col-s-3 {
    width: 100%;
  }

  .menu {
    margin: 10px 0;
  }

  .menu ul li a {
    font-size: 16px;
    padding: 3px 5px; 
  }
}




.container {
  padding: 20px;
}

.container h1 {
  font-size: 2.5rem;
  color: #ffffff;
 text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table thead {
  background-color: #333;
  color: #fff;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

table th,
table td {
  padding: 15px;
  border: 1px solid #ddd;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:nth-child(odd) {
  background-color: #fff;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-2{
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
 
    
}
.btn-2:hover {
  background-color: #6ae639;
  color: #fff;
}


.btn:hover {
  background-color: #e63946;
  color: #fff;
}

footer {
  background-color: #333;  
  color: #ccc;  
  text-align: center;
  padding: 30px 20px;
  border-radius: 20px; 
  border-top: 4px solid #555;  
  margin-top: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}


footer p {
  margin: 10px 0;
  font-size: 0.9em;
}


footer a {
  color: #aaa;  
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
 }


footer a:hover {
  color: #fff;  
}


footer p:first-of-type {
  font-size: 1em;
}


footer p:last-of-type {
  font-size: 0.9em;
  margin-top: 10px;
}