body {
    font-family: Arial, sans-serif;
    background-color: #e7e5e5;
    margin: 0;
    padding: 0;
    color: #333;
}

img {}

header {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    font-size: 2.5em;
    color: #4d4a4a;
    text-transform: uppercase;
    margin-right: 40px;
}

section {
    font-size: 1.1em;
    line-height: 1.6;
}

h2 {
    font-size: 1.8em;
    color: rgb(107, 107, 107);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 65px;
}

h3 {
    font-size: 1.8em;
    color: rgb(107, 107, 107);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 110px;
}

p {
    margin-bottom: 15px;
    margin-left: 108px;
    margin-right: 120px;
}

li {
    margin-left: 90px;
    margin-right: 100px
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(139, 139, 139);
    color: rgb(73, 70, 70);
    clear: both;
    width: 1005px;
    margin-left: 108px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 15px;
}