* {margin: 0; padding: 0;} 



body {
	
	width: auto;
	
	margin: auto;
	
	
}
header {
	
	max-width: 1200px;
	margin: auto;
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
  }
  
  header img {
	margin-top: 10px;
	height: 150px;
	margin-left: 430px;
  }
  
  nav {
	margin-top: 25px;
	display: flex;
	justify-content: flex-end; 
  }
  
  nav ul {
	list-style: none; 
	padding: 0;
  }
  
  nav li {
	display: inline-block;
	margin-left: 0.6561679790026247%;
  }
  
  h1 {
	text-align: left; 
	margin-left: 20px; 
  }
  

footer{
	color: rgb(0, 0, 0);
	background-color: rgb(102, 102, 102);
	margin: 1.968503937007874%;
	padding: 1.968503937007874%;
	clear: both;
	width: 91.86351706036745%;
	text-align: center;	
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	
}
main {
	
	margin: 1.968503937007874% 1.968503937007874% 1.968503937007874% 1.968503937007874%;
	padding: 1.968503937007874%;					
	
	}
main section div img {
	width: 150px;
	height: 150px;
}
section div{
	gap: 50px;
}



main section{	
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: space-between;
}
h1{
		border: 1px dashed black;
		display: flexbox;
		position: absolute;
		justify-content: space-between;
}
@media only screen and (max-width: 767px){
			main img{
				max-width: 300px;
				}
				main div{
					width: 100px;
				}
		}
		h2{
			text-align: center;
		}
		