* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ddd;
  line-height: 1.6;
  background-image: url(/img/Background-modified\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

header {
  text-align: center;
  margin-top: 30px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  max-height: 150px;
  background-color: #696969;
  margin-bottom: 20px;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background-color: #252424;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 2.5em;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.6em;
  color: #ffffff;
  margin-top: 20px;
  text-decoration: underline;
}

p {
  font-size: 1em;
  color: #ccc;
  margin-bottom: 15px;
  line-height: 1.8;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #f05454;
}

footer {
  background-color: #3d3a3a;
  color: #ccc;
  text-align: center;
  padding: 10px;
  width: 80%;
  max-width: 1000px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.5);
}

footer p {
  font-size: 0.8em;
  margin: 5px 0;
}

footer a {
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
}

.menu {
  display: flex;
  justify-content: center;
  
  margin-bottom: 30px;
  border-radius: 10px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin: 0 15px;
}

.menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease, padding-left 0.3s ease;
  padding: 4px 6px;
}

.menu ul li a:hover {
  color: #f05454;
  padding-left: 6px;
}

section {
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 30px;
}

section p {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.4em;
  }

  .menu ul li a {
    font-size: 16px;
  }

  footer p {
    font-size: 0.7em;
  }
}

@media (max-width: 480px) {
  .logo-container img {
    max-height: 100px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  .menu ul li a {
    font-size: 14px;
  }
}
